<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.mapper.SystemsProfileMapper">

  <resultMap id="SystemsProfileResultMap" type="com.server.model.SystemsProfile">
    <id property="id" column="id" />
    <result property="restaurantNameZhHK" column="restaurant_name_Zh_HK" />
    <result property="restaurantNameZhCN" column="restaurant_name_Zh_CN" />
    <result property="restaurantNameUsEN" column="restaurant_name_Us_EN" />
    <result property="isOrderingDisabled" column="is_ordering_disabled" />
    <result property="isServiceChargeRequired" column="is_service_charge_required" />
    <result property="isFactoryEmployeeCheckRequired" column="is_factory_employee_check_required" />
  </resultMap>

  <select id="getSystemsProfile" resultMap="SystemsProfileResultMap">
    SELECT * FROM systems_profile LIMIT 1
  </select>
  
  <update id="updateRestaurantName" parameterType="com.server.model.SystemsProfile">
    UPDATE systems_profile SET 
    restaurant_name_Zh_HK = #{restaurantNameZhHK},
    restaurant_name_Zh_CN = #{restaurantNameZhCN},
    restaurant_name_Us_EN = #{restaurantNameUsEN}
    WHERE id = #{id}
  </update>

  <update id="updateSystemSettings" parameterType="com.server.model.SystemsProfile">
    UPDATE systems_profile SET 
    is_ordering_disabled = #{isOrderingDisabled},
    is_service_charge_required = #{isServiceChargeRequired},
    is_factory_employee_check_required = #{isFactoryEmployeeCheckRequired}
    WHERE id = #{id}
  </update>

</mapper>