#header {
  background: #fff;
  padding: 0 16px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerBtn {
  margin-left: 16px;
}

#personalInfoButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
